.switch-cont {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: var(--full-height);
  overflow: hidden;
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0);
}

.switch {
  scrollbar-width: thin;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  @supports (overflow-y: overlay) {
    overflow-y: overlay
  }
}